*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1f1f1f;
    height: 100%; 
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0; /* Fixa no topo */
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 70px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 1000; /* Mantém a navbar no topo */
    transition: ease 0.5s;
    color: #333333a4;
}


.nav-title{
    width: 45%;
    font-family: "Playfair Display", serif;
    color:#C5A05A;
    letter-spacing: 2px;
    font-size: 17px;
}

.nav-link{
    width: 40%;
}

.nav-link ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

.nav-link ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link ul li a{
    padding: 10px;
    text-decoration: none;
    color: #C5A05A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #C5A05A;
    border-radius: 10px;
    font-size: 13px;
}

.nav-link ul li a:hover{
    background-color: #4B0F24;
    transition: 0.6s;
}

.nav-link ul li img{
    height: 19px;
}

.hero-section {
    height: 600px; 
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover; 
    z-index: -1; 
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; 
    height: 100%;
    margin-left: 70px;
    color: #F5F1E6;
    z-index: 1;
}

.hero-text h2 {
    width: 100%;
    color: #C5A05A;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.hero-text .details {
    color: #aaa;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
}

.hero-text .texto {
    font-family: "Montserrat", sans-serif;
    color: #F5F1E6; 
    line-height: 1.5;
    text-align: justify;
    margin: 20px;
}

.btn {
    width: 20%;
    background-color: #C5A05A;
    border: none;
    padding: 8px;
    margin-top: 20px;
    border-radius: 20px;
    animation: fadeIn 1s ease-in-out;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn a {
    text-decoration: none;
    color: #F5F1E6;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 15px;
}

.btn:hover {
    background-color: #4B0F24;
    transform: translateY(-6px); 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*Catalogo*/

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 20px;
}

/* Título */
.title {
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: #C5A05A;
    letter-spacing: 2px;
    text-align: left;
}

/* Container do filtro */
.filtro-container {
    display: flex;
    align-items: center;
    
}
.filtro-container label {
    color: #C5A05A;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: bold;
    width: 40%;
}

select {
    width: 150px;
    padding: 5px;
    border: 1px solid #C5A05A;
    border-radius: 5px;
    background-color: transparent;
    color: #C5A05A;
    font-family: "Playfair Display", serif;
    font-size: 14px;
    
}

select option {
    background-color: #2d2d2d;
    color: #C5A05A;
    border: none;
}

.catalogo{
    border: 1px solid #2d2d2d;
    background-size: cover;
    box-shadow: 0 10px 15px rgba(151, 151, 151, 0.2);
    width: 65%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 70px;
    padding: 5px 10px;
}

.list-produto{
    margin: 10px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Container principal */
.item {
    border: 1px solid #C5A05A;
    border-radius: 10px 20px;
    height: auto;
    width: 220px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
    background: #2d2d2d;
    animation: fadeIn 0.5s ease-in-out
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(151, 151, 151, 0.2);
}

.item .imagen img {
    width: 120px;
    height: 150px;
    margin-bottom: 10px;
}

.description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

.description .name {
    font-size: 18px;
    font-weight: bold;
    color: #C5A05A;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
}

.text {
    color: #777;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 1.4;
    font-family: "Montserrat";
}

.preco {
    color: #C5A05A;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Montserrat";
}

.button {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C5A05A;
    padding: 8px 12px;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.button a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: "Montserrat";
}

.button:hover {
    background-color: #4B0F24;
    transform: translateY(-3px);
}

/* Botões do slider */

.slider-controls {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider-button {
    background-color: #C5A05A;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.slider-button:hover {
    background-color: #4B0F24;
}

.galerry{
    width: 100%;
    height: auto;
    margin: 30px 5px;
    padding: 20px 0;
}

.galerry .imagens{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.galerry .imagens a img{
    width: 200px;
    height: 200px;
    border-radius: 10px; 
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
}

.galerry .imagens img:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(151, 151, 151, 0.2);
}


/* Responsividade */
@media (max-width: 768px) {
    .galerry {
        padding: 10px 0;
    }

    .imagens {
        width: calc(100% * 6); /* Ajusta a largura para 6 imagens em dispositivos menores */
    }

    .imagens img {
        width: 100%;
    }
}


footer {
    height: 180px;
    width: 100%;
    background-color: #2d2d2d;
    color: #fff;
    padding: 30px 20px;
    text-align: justify;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #C5A05A;
}


.footer-info p,.footer-links ul,
.footer-social .social-icons a {
    margin: 5px 0;
    font-size: 14px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    text-decoration: none;
    color: #aaa;
}

.footer-links ul li a:hover {
    color: #C5A05A;
}

.footer-social .social-icons a img {
    width: 30px;
    margin: 0 10px;
}

.footer-social .social-icons a img:hover {
    box-shadow: 0 10px 15px rgba(151, 151, 151, 0.2);
    transform: translateY(-2px); 
}

.footer-newsletter input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #C5A05A;
    border-radius: 4px;
    width: 200px;
}

.footer-newsletter button {
    padding: 10px 20px;
    background-color: #C5A05A;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.footer-newsletter button:hover {
    background-color: #4B0F24;
    transform: translateY(-3px);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}